{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h2>McKay Williams</h2>
<!-- <h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{{MEDIA_URL}}{{project.image}}" alt="{{project.title}}" width="100%" max-width="">

    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <a href ={{ project.sourceCode }} target="_blank">Source Code on Github</a>
</html>
    </div>
</div> -->
{% endblock %}